* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
#navbar-design {
    background: rgba(49, 49, 253, 0.884);
}
.logo {
   width: 60px;
   height: 60px;
   border-radius: 50px;
}
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/first-image.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 86px;
    transition: all 0.5s ease-in-out;
}
#contactBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/img3.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;
}
.about-banner-hero {
    margin-top: 86px;
}
#enquire {
    margin-top: 70px;
}
.banner-img {
    transform: scale(0.8);
}
.main-text {
    color: #fff;
    margin-top: 40px;
    font-size: 3em;
    text-transform: uppercase;
    font-family: "Lalezar", sans-serif;
}
.sub-text, .sub-text1 {
    color: #fff;
    font-size: 1.1em;
}
.banner-img-1, .banner-img-2, .banner-img-3 {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
section {
    margin-bottom: 6em;
}
.contact-us  {
    background: rgba(49, 49, 253, 0.884);
    color: #fff;
    animation: slide 2s infinite;
    transition: .4s ease;
}
.contact-us:hover {
    animation-play-state: paused;
    color: #fff;
}
.about {
    color: rgba(49, 49, 253, 0.884);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.fa-facebook {
    background:rgba(49, 49, 253, 0.884);
    padding: 13px 17px; 
    height: 43px;
    width: 43px;
    margin-top: 5px;
    font-size: 3em;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    color: #fff;
}
.fa-instagram, .fa-whatsapp, .fa-twitter, .fa-twitter {
    background: rgba(49, 49, 253, 0.884);
    padding: 13px 13px;
    font-size: 3em;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    color: #fff;
}
.fa-facebook:hover {
    cursor: pointer;
    transform: scale(1.1);
} 
.fa-instagram:hover {
    cursor: pointer;
    transform: scale(1.1);
} 
.fa-whatsapp:hover {
    cursor: pointer;
    transform: scale(1.1);
} 
.fa-twitter:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.contact-card {
    transform: scale(0.8);
    background: #fff;
    border-radius: 10px;
    padding: 1px 10px;
    height: 200px;
    box-shadow: 10px 10px 10px 10px lavender;
}
.fa-map-marker {
    padding: 13px 13px;
    color: #fff;
    background: rgba(49, 49, 253, 0.884);
    font-size: 2.3em;
    border-radius: 5px;
}
.fa-phone {
    padding: 13px 13px;
    color: #fff;
    background: rgba(49, 49, 253, 0.884);
    font-size: 2.3em;
    border-radius: 5px;
} 
.fa-envelope {
    padding: 13px 13px;
    color: #fff;
     background: rgba(49, 49, 253, 0.884);
     font-size: 20%;
     border-radius: 5px;
}
.fa-users {
    padding: 13px 13px;
    color: #fff;
    background: rgba(49, 49, 253, 0.884);
    font-size: 20%;
    border-radius: 5px;
}
.fa-plane {
    padding: 13px 13px;
    color: #fff;
    background: rgba(49, 49, 253, 0.884);
    font-size: 20%;
    border-radius: 5px;
}
.fa-cc-visa {
    padding: 13px 13px;
    color: #fff;
    background: rgba(49, 49, 253, 0.884);
    font-size: 20%;
    border-radius: 5px;
}
.gurantor-name {
    font-weight: 500;
    font-family: "Lalezar", sans-serif;
}
.position {
    color: rgba(49, 49, 253, 0.884);
    font-weight: 900;
}
#services {
    margin-top: 150px;
}
.service-card {
    background: rgba(49, 49, 253, 0.884);
}
.service-img {
    width: 30%;
    margin-top: 10px;
}
.passport {
    color: rgba(49, 49, 253, 0.884);
}
.stud-img {
    margin-top: 10px;
    width: 245px;
    height: 245px;
}
.about-contact {
    font-size: 2.5em;
    margin-top: 20px;
    font-weight: 700;
    color: #fff;
}
.search {
    text-transform: uppercase;
    color: rgba(49, 49, 253, 0.884);
    font-weight: 800;
    font-size: 1.6em;
    font-family: "Lalezar", sans-serif;
}
.q-mark {
    background:rgba(49, 49, 253, 0.884);
    color: #ffff;
    border-radius: 0 10px 0 10px;
    padding: 5px 5px;
}
.smiling {
    width: 200px;
    height: 200px;
}
#destinations {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),url(../images/third-image.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#contact-destinations {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/airline.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#country {
    border: 5px solid #f0f0f0;
    transform: scale(0.9);
    height: 150px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    color: #f0f0f0;
    animation: borderColor 2s infinite;
    transition: all .5s ease-in-out;
}
#country:hover {
    transform: scale(1);
    cursor: pointer;
    opacity: 0.7;
}
.services {
    font-family: "Lalezar", sans-serif;
    font-weight: 700;
}
.passport  {
    font-family: "Lalezar", sans-serif;
    font-weight: 600;
}
.message-field {
    height: 40%;
}
.heading {
    color: rgba(49, 49, 253, 0.884);
    font-size: 2em;
    font-weight: 800;
    font-family: "Lalezar", sans-serif;
}
.fa-times {
    font-size: 1.5em;
    background: rgb(212, 21, 21);
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.footer-links-header {
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Lalezar", sans-serif;
}
ul.menu {
    list-style-type: none;
}
ul.menu li {
    line-height: 1.8;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
}

@keyframes borderColor {
    0% {

    }
    100% {
        border: 4px solid rgba(49, 49, 253, 0.884);
    }
}
@media (max-width: 598px){
    .stud-img{
       display: none;
    }
    #mobile-space {
        margin-top: 50px;
        }
}